html,body{margin:0;padding:0;}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 250px;
    height: auto;
}

.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

nav {
   
}

.top-navlink{
    text-transform: uppercase;
    color: #000;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration:none;
}
.top-navlink:hover {
    text-transform: uppercase;
    text-decoration:underline;
}

ul {
    display: flex;
    gap: 15px;
}


.heroImg {
    height: auto;
    padding: 50px;
    align-content: center;
}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.10);
}

.h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    text-align:center;
}

.p1 {
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.523%;
}

.headshot {
    border-radius: 50%;
    width: 137px;
    height: auto;
}

.button {
    border-radius: 15px;
    background-color: #B7573C;
    border:#B7573C;
    padding: 15px;
    cursor: pointer;
    text-align:center;
    max-width: 200px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
  }

footer {
    background-color: #B7573C;
    color: #FFF;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}


footer li {
    padding: 10px; 
}